
* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
}

.card {
    margin: 100px auto 0;
    width: 350px;
    height: 500px;
    perspective: 1000px;
}
.card_info {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin: 20px;
}
.card_info.is-flipped {
    transform: rotateY(180deg);
}
.Card_Face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
.CF_front {
    background-image: linear-gradient(to bottom right, Darkblue, skyblue);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.CF_front h2 {
    color: #FFCE00;
    font-size: 40px;
}
  
.CF_back {
    background-color: whitesmoke;
    transform: rotateY(180deg);
}
  
.Card_content{
    width: 100%;
    height: 100%;
}
  
.Card_header {
    position: relative;
    padding: 30px 30px 40px;
}
.Card_header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, Darkblue 10%, skyblue 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
}
  
.bt {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
} 
.Card_header h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
  
.Card_body {
    padding: 30px;
  }
  
.Card_body h3 {
    color: black;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}
  
.Card_body p {
    color: black;
    font-size: 16px;
    line-height: 1.4;
}